#company{
    flex-direction: row;
    width: 400px;
    margin: 0 auto;
    align-items: center;
  
}
#registerContainer{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 0 auto;
    align-items: stretch;
    padding: 40px;
    justify-content: center;
    border-radius: 10px;
}
#tasksContainer{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
    margin: 0 auto;
}
#toDoContainer{
    display: flex;
    flex-direction: column;
    background: gray;
}
#doingContainer{
    display: flex;
    flex-direction: column;
    background: gray;
}
#doneContainer{
    display: flex;
    flex-direction: column;
    background: gray;
}
.toDoComponent{
    background: lightgray;
    padding: 20px;
    margin: 10px auto;
    width: 150px;
    position: relative;
}
.doingComponent{
    background: lightgray;
    padding: 20px;
    margin: 10px auto;
    width: 150px;
    position: relative;
}
.doneComponent{
    background: lightgray;
    padding: 20px;
    margin: 10px auto;
    width: 150px;
    position: relative;
}
.nextBt{
    background-color: blue;
    padding: 10px;
    border: none;
    display: inline-block;
    font-size: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    cursor: pointer;
    
}
.deleteBt{
    background-color: red;
    padding: 10px;
    border: none;
    display: inline-block;
    font-size: 6px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    cursor: pointer;
}
.prevBt{
    background-color: yellow;
    padding: 10px;
    border: none;
    display: inline-block;
    font-size: 6px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    cursor: pointer;
}
.regBt{
    cursor: pointer;
    background: black;
    color: white;
}
.headers{
    align-items: center;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
}